<a href="https://colab.research.google.com/github/samhitha525/Amrita-AI/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data={"apples":[3,2,4,1],
      "oranges":[4,7,5,6]}

In [ ]:
purchases=pd.DataFrame(data)
purchases

   apples  oranges
0       3        4
1       2        7
2       4        5
3       1        6

In [ ]:
purchases=pd.DataFrame(data,index=['abc','def','ghi','jkl'])
purchases

     apples  oranges
abc       3        4
def       2        7
ghi       4        5
jkl       1        6

In [ ]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, abc to jkl
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   apples   4 non-null      int64
 1   oranges  4 non-null      int64
dtypes: int64(2)
memory usage: 256.0+ bytes